nav{    
    background-color: #232536;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Sen';
}
nav a{
    text-decoration: none;
    color: white;
}
nav .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
nav .second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
nav .first button{
    width: 179px;
    height: 56px;
    font-weight: 700;
}

a{
    text-decoration: 0;
}


footer{   
    background-color: #232536;
    color: white;
    font-family: 'Sen';
    display: flex;
    flex-direction: column;
}

footer .middle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: 90%;
    align-self: center;
    height: 256px;
}
footer .middle div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .middle h1{
    width: 40%;
}
footer .middle input{
    background: transparent;
    height: 25%;
    width: 25%;
    border:1px solid #4C4C4C ;
    padding: 20px;
}
footer .middle button{
    background-color: #FFD050;
    border: 0;
    width: 100px;
    height: 50px;
}

footer .end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 150px;
}
footer .end p{
    opacity: 70%;
    font-size: 16px;
}
footer .end .mess{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






.home-head{
    height: 720px;
    background-image: url(images/home/oneback.png);
    background-size: cover ;
}
.home-head .fon{
    background-color: rgba(0, 0, 0, 50%);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.home-head .main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin-top: 100px;
    padding-left:100px;
}
.home-head span{
    color: rgba(255, 208, 80, 1);
}
.home-head h1{
    font-size: 56px;
}
.home-head button{
    width: 200px;
    height: 60px;
    margin-top: 50px;
    background-color: rgba(255, 208, 80, 1);
}

.home-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 10%;
}
.home-one .top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 10%;
}
.home-one .bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.home-one .bottom .first{
    width: 669px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.home-one .bottom .second{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.home-one .bottom .second div{
    height: 25%;
}
.home-one .bottom .second div:hover{
    background-color: #FBF6EA;
}
.home-one button{
    width: 200px;
    height: 60px;
    margin-top: 50px;
    background-color: rgba(255, 208, 80, 1);
    border: 0;
}
.home-one span{
    color: #592EA9;
}

.home-two{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 100px 15%;
}
.home-two .yellow{
    height: 23px;
    width: 50%;
    background-color: #FFD050;
}
.home-two .purple{
    height: 23px;
    width: 20%;
    background-color: #592EA9;
}
.home-two .top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.home-two .bottom{
    background-color: #F4F0F8;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-two .bottom div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
}
.home-two .bottom a{
    font-weight: 700;
}

.home-three{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 15%;
}
.home-three .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-three .main div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #6D6E76;
    flex-direction: column;
    width: 22%;
    padding: 15px 0;
    padding-left: 15px;
}
.home-three .main div:hover{
    background-color: #FFD050;
    border: 0;
}
.home-three .main div img{
    padding: 13px;
    background-color: #FBF6EA;
    border-radius: 15%;
}
.home-three .main div:first-of-type img{
    padding: 0px;
}

.home-four img{
    z-index: -9;
    position: absolute;
}
.home-four{
    padding: 100px 15%;
    height: 700px;
    display: flex;
}
.home-four .main{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 100px;
    margin-left: 40%;
    transform: translateY(5px)
}
.home-four .main h2{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.home-four .main h1{
    font-size: 48px;
    font-weight: 700;
}
.home-four .main p{
    color: #6D6E76;
    font-size: 16px;
}
.home-four .main button{
    background-color: #FFD050;
    width: 270px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
}

.home-five{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 15%;
}
.home-five .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home-five .top .in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
    padding: 50px 0;
}
.home-five .mess{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-five p{
    color: #6D6E76;
}
.home-five .in:hover{
    background-color: #FBF6EA;
}
.home-five .logo{
    margin-top: 100px;
}

.home-six{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 15%;
}
.home-six .main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBF6EA;
    height: 464px;
}
.home-six .left{
    width: 40%;
    border-right: 1px solid gainsboro;
    height: 310px;
}
.home-six .right{
    width: 40%;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.home-six button{
    border: 0;
    background-color: #F4F4F4;
    color: #232536;
    width: 62px;
    height: 62px;
    border-radius: 50%;
}
.home-six button:hover{
    background-color: #232536;
    color: #F4F4F4;
}
.home-six .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home-six .jon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.home-six .strelki{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-seven{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    padding-bottom: 300px;
}
.home-seven div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 414px;
}
.home-seven h1{
    font-size: 36px;
    font-weight: 700;
}
.home-seven p{
    font-size: 16px;
    color: #6D6E76;
}
.home-seven button{
    width: 174px;
    height: 56px;
    border: 0;
    background-color: #FFD050;
    font-weight: 700;
    font-size: 18px;
}










.blog-head{
    background-color: #F4F0F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.blog-head .head{
    width: 50%;
}

.blog-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px 15%;
}
.blog-one .main{
    display: flex;
    flex-direction: column;
    border-top: 1px solid gainsboro;
    padding-top: 50px;
    width: 100%;
}
.blog-one .main .mod{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.blog-one .main .mod div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
.blog-one h2{
    font-size: 36px;
    font-weight: 700;
}
.blog-one h3{
    color: #592EA9;
    font-size: 16px;
    font-weight: 600;
}
.blog-one p{
    color: #6D6E76;
}
.blog-one .bottom{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    align-self: center;
    margin: 50px 0;
}
.blog-one .bottom a{
    color: #6D6E76;
    font-weight: 700;
}
.blog-one .bottom a:hover{
    color: #232536;
    font-size: 28px;
}

.blog-two{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 15%;
}
.blog-two .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-two .main div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #6D6E76;
    flex-direction: column;
    width: 22%;
    padding: 15px 0;
    padding-left: 15px;
}
.blog-two .main div:hover{
    background-color: #FFD050;
    border: 0;
}
.blog-two .main div img{
    padding: 13px;
    background-color: #FBF6EA;
    border-radius: 15%;
}
.blog-two .main div:first-of-type img{
    padding: 0px;
}










.contact{
    padding-left: 25%;
    padding-right: 25%;
}
.contact .top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact .middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #592EA9;
    padding: 50px;
    margin-bottom: 50px;
}
.contact .middle div{
    width: 45%;
    height: 150px;
}
.contact .middle div p{
    opacity: 60%;
}
.contact .middle div p:first-of-type{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 10%);
}

.contact .bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact input{
    width: 100%;
    height: 76px;
    margin: 10px 0;
} 
.contact input::placeholder{
    transform: translateX(20px);
} 
.contact input:last-of-type{
    height: 144px;
}
.contact input[type="text" i]{
    padding-block: 0;
    padding-inline: 0;
}
.contact .last::placeholder{
    transform: translate(20px -35px);
}
.contact button{
    width: 100%;
    height: 64px;
    margin-bottom: 100px;
    background-color: #FFD050;
    border: 0;
}










.priv-head{
    background-color: #F4F0F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
}
.priv div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.privacy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.privacy div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.privacy div:first-of-type{
    margin-top: 100px;
}
.privacy div:last-of-type{
    margin-bottom: 100px;
}













.post-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-head p{
    color: #6D6E76;
}
.post-head span{
    color: #592EA9;
}
.post-head .top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin: 100px 0;
}
.post-head .andrew{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .post-head h1{
    font-size: 48px;
 }
 .post-head .startup{
    display: flex;
    align-items: center;
 }
 .post-head .startup img{
    height: 24px;
    width: 24px;
 }
 .post-head .bottom img{
    width: 100%;
    height: auto;
    display: flex;
 }
 .post-head .bottom{
    width: 90%;
    height: auto;
 }

 .post-one{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 100px 25%;
 }
 .post-one p{
    color: #6D6E76;
    font-size: 16px;
 }
  .post-one h2{
    font-size: 32px;
 }
 .post-one ul{
    font-weight: 700;
    font-size: 24px;
 }

.post-two{
    margin: 100px 10%;
}
.post-two p{
    text-align: justify;
    font-size: 16px;
    color: rgba(0, 0, 0, 60%);
}
.post-two span{
    color: #592EA9;
}
.post-two .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-two .main div{
    width: 405px;
}
.post-two h2{
    font-size: 28px;
}
