nav{    
    background-color: #232536;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Sen';
}
nav a{
    text-decoration: none;
    color: white;
}
nav .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
nav .second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
nav .first button{
    width: 179px;
    height: 56px;
    font-weight: 700;
}







.blog-head{
    background-color: #F4F0F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.blog-head .head{
    width: 50%;
}