nav{    
    background-color: #232536;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Sen';
}
nav a{
    text-decoration: none;
    color: white;
}
nav .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
nav .second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
nav .first button{
    width: 179px;
    height: 56px;
    font-weight: 700;
}



footer{   
    background-color: #232536;
    color: white;
    font-family: 'Sen';
    display: flex;
    flex-direction: column;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: 90%;
    align-self: center;
    height: 256px;
}
.middle div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.middle h1{
    width: 40%;
}
.middle input{
    background: transparent;
    height: 25%;
    width: 25%;
    border:1px solid #4C4C4C ;
    padding: 20px;
}
.middle button{
    background-color: #FFD050;
    border: 0;
    width: 100px;
    height: 50px;
}

.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 150px;
}
.end p{
    opacity: 70%;
    font-size: 16px;
}
.end .mess{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}